/* Stylesheet.css */

body {
	font-family: Verdana, sans-serif;
}

header, nav, section, footer {
	border: 1px solid grey;
	margin: 5px;
	padding: 8px;
}

nav ul {margin:0; padding:0;}
nav ul li {display:inline; margin:10px;}

.javaApp {
	/*
	width: 400px;
	height: 740px;
	*/
	margin: auto;
	background: #EEE;
}