/* Stylesheet.css */

body {
	font-family: Verdana, sans-serif;
}

header, nav, section, article, footer {
	border: 1px solid grey;
	margin: 5px;
	padding: 8px;
}

nav ul {margin:0; padding:0;}
nav ul li {display:inline; margin:5px;}

.javaApp {margin: auto;}

.container {
	border: 1px solid grey;
	padding: 0;
}